{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="social-links d-flex justify-content-center">
  <a href="https://x.com/officialmelvinp" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter-x"></i></a>
  <a href="https://www.facebook.com/share/15fDWzwD6d" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
  <a href="https://www.instagram.com/officialmelvinp" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
  <a href="https://www.linkedin.com/in/adeboye-melvin" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
  <a href="https://github.com/officialmelvinp" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
</div>

{% endblock content %}